<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <p>
                删除产品
                <a href="./index.html#products" class="btn btn-info btn-sm pull-right">返回</a>    
            </p>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td class="text-right">产品名</td>
                <td><label id="lbl_productName"></label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="btn_Delete" class="btn btn-danger btn-block" style="display: none">删除产品</button>
                    <p id="tip" class="form-group" style="margin-top: 20px"></p>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var id = location.search.substr(4);

    $.ajax({
        type: "get",
        url: reqBase+"product/" + id,
        success:function(res) {
            $("#lbl_productName").text(res.Name);
            $("#btn_Delete").show();
        },
        error:function() {
            $.bsAlertError("get error", "#tip", 4);
        }
    });

    $(document).on("click", "#btn_Delete", function () {
 
        $.ajax({
            type: "delete",
            url: reqBase+"product/"+id,
            success: function (success) {
                if (success) {
                    $.bsAlertSuccess("删除成功", "#tip", 2);
                } else {
                    $.bsAlertError("删除失败", "#tip", 3);
                }
            },
            error: function (e) {
                $.bsAlertError("error", "#tip", 4);
                console.error(e);
            }
        });
    })
</script>