<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <p>
                修改产品
                <a href="./index.html#products" class="btn btn-info btn-sm pull-right">返回</a>    
            </p>
        </div>
    </div>
    <div class="panel-body">
        <div id="loadingtip" class="text-center">
            
        </div>
        <table class="table" id="editTable" style="display: none">
            <tr>
                <td class="text-right">产品名</td>
                <td><input type="text" id="txt_productName" class="form-control"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="btn_Edit" class="btn btn-primary btn-block" style="display: none">修改产品</button>
                    <p id="tip" class="form-group" style="margin-top: 20px"></p>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var id = location.search.substr(4);
    $.ajax({
        type: "get",
        beforeSend:function() {
            $("#loadingtip").html(loadingimg);
        },
        url: reqBase+"product/" + id,
        success: function (res) {
            $("#txt_productName").val(res.Name);
            $("#btn_Edit").show();
        },
        error: function () {
            $.bsAlertError("get error", "#tip", 4);
        },
        complete:function() {
            $("#loadingtip").find("img").remove();
            $("#editTable").show();
        }
    });
    $(document).on("click", "#btn_Edit", function () {
        var name = $.trim($("#txt_productName").val());
        if (name === "") {
            $.bsAlertWarn("请输入商品名", "#tip", 3);
            return false;
        }
     
        $.ajax({
            type: "put",
            url: reqBase+"product",
            data: {ID:id, Name: name },
            success: function (success) {
                if (success) {
                    $.bsAlertSuccess("修改成功", "#tip", 2);
                } else {
                    $.bsAlertError("修改失败", "#tip", 3);
                }
            },
            error: function (e) {
                $.bsAlertError("error", "#tip", 4);
                console.error(e);
            }
        });
    })
</script>