<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <p>用户登录</p>
        </div>
    </div>
    <div class="panel-body">
        <div class="input-group form-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <input type="text" id="txtUser" class="form-control" placeholder="用户名"/>
        </div>
        <div class="input-group form-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input type="password" id="txtPass" class="form-control" placeholder="密码"/>

        </div>
        <div class="form-group">
            <button id="btn_Login" class="btn btn-default btn-lg btn-block">登录 &nbsp;</button>
        </div>
        <div id="tip">
        </div>
    </div>
    <div class="panel-footer">
        <p>没有账号？<a href="">点我注册</a>
        </p>
    </div>
</div>
<script>
    //login start//////////////////////////////////
    $(document).on("click", "#btn_Login", function () {
        appLogin.start();
    });

    var appLogin = {
        ctr: "Login",
        start: function () {
            var $btnLogin = $("#btn_Login");
            $btnLogin.append(loadingimg);
            $btnLogin.attr("disabled", true);

            var userid = $.trim($("#txtUser").val());
            var userpass = $.trim($("#txtPass").val());

            $.ajax({
                type: "post",
                url: reqBase + appLogin.ctr,
                data: { UserID: userid, UserPass: userpass },
                success: function (res) {
                    if (res.code === 1) {
                        //login success 
                        appLogin.hidLoginLoading($btnLogin);
                        $.bsAlertSuccess("登录成功", "#tip", 2,"./index.html#products");

                    } else {
                        appLogin.hidLoginLoading($btnLogin);
                        $.bsAlertWarn(res.msg, "#tip", 4);
                    }
                },
                error: function (e) {
                    appLogin.hidLoginLoading($btnLogin);
                    $.bsAlertWarn("系统出错", "#tip", 4);
                    console.log(e);
                }
            });
        },
        hidLoginLoading: function ($btnLogin) {
            $btnLogin.attr("disabled", false);
            $btnLogin.find("img").remove();
        }
    }

    /*login end*/
</script>